{% extends "template.html" %}
{% block title %} Home {% endblock %}
{% block svg %} {% endblock %}
{% block content %}

<div id="bootstrap" class="container">
  <br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
  <br><br>
     <h2 class="text-center text-info"> WELCOME </h2>

     <!-- <div class="row"> -->
     <center>

          <div class="col-md-1">
          </div>
          <div class="col-md-10">
          </div>
          <div class="col-md-10">
            In our project, you will be able to compare national data that we have gathered.
            <br>
            You will be able to look at finances, school enrollment, and acheivement.
            <br>
            I know too much text gets boring so it ends here!
            <br>
            Enjoy folks!
            <br>
            <br>
            <form action="/map" method="POST">
              <button type="submit" class="btn btn-primary"> Let's Go! </button>
            </form>
          </div>
        </div>
        </center>

      </div>

{% endblock %}
