{% extends "template.html" %}
{% block title %} Map {% endblock %}
{% block content %}
<style>
    .countries {
        fill: none;
        stroke: #fff;
        stroke-linejoin: round;
    }

    .legendThreshold {
        font-size: 12px;
        font-family: sans-serif;
    }

    .caption {
        fill: #000;
        text-anchor: start;
        font-weight: bold;
    }

    .d3-tip {
        line-height: 1;
        font-weight: normal;
        padding: 12px;
        background: rgba(255, 255, 255, 0.8);
        color: black;
        border-radius: 2px;
    }

    .d3-tip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 9px;
        width: 100%;
        line-height: 1;
        color: rgba(255, 255, 255, 0.8);
        content: "\25BC";
        position: absolute;
        text-align: center;
    }

    .d3-tip.n:after {
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
    }
</style>

<!-- use this for reference

<h2 class="text-center text-info"> Mangoes Map Project </h2>

<p>Welcome to Mangoes' SoftDev Project! Here are three cool maps you can use to learn more about education in the U.S.A! </p>
<p> Please, choose what you are interested in: </p>

<form action="/map" method="POST">
  <button type="submit" class="btn btn-success"> Finances </button>
</form>

<form action="/map1" method="POST">
  <button type="submit" class="btn btn-danger"> Enrollment </button>
</form>

<form action="/map2" method="POST">
  <button type="submit" class="btn btn-primary"> Grades </button>
</form>

<br>

<p> This project is built using choropleth and using data with each state's records on it.
  The information displayed on each map is total revenue of each state in 2016, the amount of students in each state in 2016, and the average NAEP math exam scores for the eighth grade from each state in 2017.
  We wanted to see how the financial state of the environment children lived in resulted in whether they went to school and how it would affect their performance on standardized exams.</p>
-->
<p> This map shows the total revenue raised in each state in 2016. When hovering over a state, the user will find the exact revenues from 2016, 2015, and 2014 to see the trend in the economic state of each state. </p>
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static',filename='chloropleth.js') }}"></script>
<!-- The contents of myscript.js will be loaded inside the script tag -->
{% endblock %}
