{% extends "template.html" %}
{% block title %} Map {% endblock %}

{% block headers %} 
<h2 class="text-center" style="color:green"> FINANCE </h2>
<center>
  <table>
    <tr>
      <td>
	<form action="/map" method="POST">
	  <button type="submit" class="btn btn-success"> Finances </button>
	</form>
      </td>
      <td>
	<form action="/map1" method="POST">
	  <button type="submit" class="btn btn-danger"> Enrollment </button>
	</form>
      </td>
      <td>
	<form action="/map2" method="POST">
	  <button type="submit" class="btn btn-primary"> Grades </button>
	</form>
      </td>
      <td>
	<form action="/" method="POST">
	  <button type="submit" class="btn btn-info"> Homescreen </button>
	</form>
      </td>
    </tr>
  </table>
</center>
{% endblock %}

{% block content %}
<style>
    .countries {
        fill: none;
        stroke: #fff;
        stroke-linejoin: round;
    }

    .legendThreshold {
        font-size: 12px;
        font-family: sans-serif;
    }

    .caption {
        fill: #000;
        text-anchor: start;
        font-weight: bold;
    }

    .d3-tip {
        line-height: 1;
        font-weight: normal;
        padding: 12px;
        background: rgba(255, 255, 255, 0.8);
        color: black;
        border-radius: 2px;
    }

    .d3-tip:after {
        box-sizing: border-box;
        display: inline;
        font-size: 9px;
        width: 100%;
        line-height: 1;
        color: rgba(255, 255, 255, 0.8);
        content: "\25BC";
        position: absolute;
        text-align: center;
    }

    .d3-tip.n:after {
        margin: -1px 0 0 0;
        top: 100%;
        left: 0;
    }
</style>

<p class="text-center" style="color:green"> This map shows the total revenue raised in each state in 2016. When hovering over a state, the user will find the exact revenues from 2014, 2015, and 2016 to see the trend in the economic state of each state. </p>
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static',filename='chloropleth.js') }}"></script>
<!-- The contents of myscript.js will be loaded inside the script tag -->
{% endblock %}

