{% extends "template.html" %}
{% block title %} Enrollment {% endblock %}
{% block content %}
<style>
.countries {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

.legendThreshold {
    font-size: 12px;
    font-family: sans-serif;
}

.caption {
    fill: #000;
    text-anchor: start;
    font-weight: bold;
}

.d3-tip {
    line-height: 1;
    font-weight: normal;
    padding: 12px;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    border-radius: 2px;
}

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 9px;
    width: 100%;
    line-height: 1;
    color: rgba(255, 255, 255, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
</style>
<p> This map shows the number of students attending school in each state in 2016. The user can hover over a state to see the exact numbers of students in each state from 2014-2016, and see how the number of students has changed recently. </p>
{% endblock %}
{% block javascript %}
    <script src="{{ url_for('static',filename='chloropleth1.js') }}"></script>
    <!-- The contents of myscript.js will be loaded inside the script tag -->
{% endblock %}
